*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


body{
    background-image: url(./../img/porsche.avif);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: block;
    height:100vh;
    max-width: 100%;
}

.top {
    background-color: rgba(0, 0, 0, 0.577);
    display: flex;
    justify-content: space-between;
    padding: 10px;
}




.top h1{
    color: aliceblue;
}




.top ul  {
    color: aliceblue;
    list-style-type: none;
    display: flex;
    gap: 25px;
}
