*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.top {
    display: flex;
    justify-content: space-between;
    padding: 15px;
    padding-bottom: 30px;
    border-bottom: 1px solid #33333346;
}


.logo{
    color:#666;
    font-size:  1.875rem;
    padding-left: 200px;
    
}



.top ul{
    list-style-type: none;
    display: flex;
    gap: 25px;
    margin-right: 300px;
    padding-top: 10px;
}




.top a {
    color: #666;
    text-decoration: none;
    padding-top: px;
}




.top ul :hover{
    color: #333;
}

